<!doctype html>
<html lang="{{ or site.Language.Locale site.Language.Lang "en-us" }}">
{{- partial "head.html" . -}}
<body class="{{ if .IsHome }}page-home{{ else }}page-{{ or .Section .Type "interior" }}{{ end }} scan-variant--{{ or site.Params.theme_variant "undef" }}">
  {{- partial "header.html" . -}}
  {{- block "main" . }}{{- end }}
  {{- partial "lab-link.html" . -}}
  {{ if or (not .IsHome) site.Params.show_footer_on_home -}}
    {{- partial "footer.html" . -}}
  {{- end }}
  {{ if .IsHome -}}
    <script type="module" src="/lab/assets/site.js"></script>
  {{- end }}
</body>
</html>
